[Desktop Entry]
Type=Application
TryExec=ghostty
Exec=ghostty
Icon=com.mitchellh.ghostty
Terminal=false
Categories=System;TerminalEmulator;
Name=Ghostty
GenericName=Terminal
Comment=A fast, feature-rich, cross-platform terminal emulator
StartupNotify=true
StartupWMClass=com.mitchellh.ghostty
Actions=New;
X-TerminalArgExec=-e
X-TerminalArgAppId=--class=
X-TerminalArgTitle=--title=
X-TerminalArgDir=--working-directory=

[Desktop Action New]
Name=New Terminal
Exec=ghostty
